<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md3>
            <base-alert :isActive="$_alertMixin_getIsActive" :type="$_alertMixin_getType" :message="$_alertMixin_getMessage"></base-alert>
            <br>
            <v-card class="elevation-12">
              <v-form ref="registrationForm" @submit.prevent="register({firstName, lastName, email, password})">
                <v-toolbar dark color="primary">
                  <v-toolbar-title>Register</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                <v-text-field
                  v-model="firstName"
                  :error-messages="firstNameError"
                  :counter="10"
                  label="First Name"
                  @input="$v.firstName.$touch()"
                  @blur="$v.firstName.$touch()"
                ></v-text-field>
                <v-text-field
                  v-model="lastName"
                  :error-messages="lastNameError"
                  :counter="10"
                  label="Last Name"
                  @input="$v.lastName.$touch()"
                  @blur="$v.lastName.$touch()"
                ></v-text-field>

                <v-text-field
                  v-model="email"
                  :error-messages="emailError"
                  label="Email"
                  @input="$v.email.$touch()"
                  @blur="$v.email.$touch()"
                ></v-text-field>

                <v-text-field
                v-model="password"
                :error-messages="passwordError"
                :counter="15"
                label="Password"
                type="password"
                @input="$v.password.$touch()"
                @blur="$v.password.$touch()"
                ></v-text-field>

                <v-text-field
                v-model="confirmPassword"
                :rules="[v => !!v || 'You must agree to continue!']"
                label="Confirm Password"
                type="password"
                @input="$v.confirmPassword.$touch()"
                @blur="$v.confirmPassword.$touch()"
                ></v-text-field>

                <v-checkbox
                  v-model="termsOfService"
                  :rules="[v => !!v || 'You must agree to continue!']"
                  @change="$v.termsOfService.$touch()"
                  @blur="$v.termsOfService.$touch()"
                >
                  <div slot="label" @click.stop="openTermsOfService">
                    <a href="#">Terms of service</a>
                  </div>
                </v-checkbox>

                <!-- <br>
                <vue-recaptcha
                  ref="recaptcha"
                  @verify="onVerify"
                  @expired="onExpired"
                  :sitekey="$_recaptchaMixin_getSitekey">
                </vue-recaptcha>
                <br> -->

              </v-card-text>
              <v-card-actions class="action-margin">
                <router-link to="login">Already have an account?</router-link>
                <v-spacer></v-spacer>
                <v-btn color="primary" type="submit">Register</v-btn>
              </v-card-actions>
              </v-form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { required, sameAs, maxLength, email } from 'vuelidate/lib/validators'
import registerMsg from '@/common/messages/auth/register.message'

import alertMixin from '@/common/utils/mixins/alertMixin'
import CryptoJS from 'crypto-js'

export default {
  name: 'Register',
  mixins: [
    alertMixin
  ],
  data () {
    return {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      confirmPassword: '',
      termsOfService: false
    }
  },
  validations: {
    firstName: {
      required,
      maxLength: maxLength(10)
    },
    lastName: {
      required,
      maxLength: maxLength(10)
    },
    email: {
      email,
      maxLength: maxLength(20),
      required
    },
    password: {
      maxLength: maxLength(15),
      required
    },
    confirmPassword: {
      sameAsPassword: sameAs('password'),
      required
    },
    termsOfService: {
      required
    }
  },
  computed: {
    firstNameError () {
      const errors = []
      if (!this.$v.firstName.$dirty) return errors
      !this.$v.firstName.maxLength && errors.push(registerMsg.fnameMax)
      !this.$v.firstName.required && errors.push(registerMsg.fnameReq)
      return errors
    },
    lastNameError () {
      const errors = []
      if (!this.$v.lastName.$dirty) return errors
      !this.$v.lastName.maxLength && errors.push(registerMsg.lnameMax)
      !this.$v.lastName.required && errors.push(registerMsg.lnameReq)
      return errors
    },
    emailError () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push(registerMsg.emailValid)
      !this.$v.email.maxLength && errors.push(registerMsg.emailMax)
      !this.$v.email.required && errors.push(registerMsg.emailReq)
      return errors
    },
    passwordError () {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.maxLength && errors.push(registerMsg.passMax)
      !this.$v.password.required && errors.push(registerMsg.passReq)
      return errors
    },
    confirmPasswordError () {
      const errors = []
      if (!this.$v.confirmPassword.$dirty) return errors
      !this.$v.confirmPassword.required && errors.push(registerMsg.cpassReq)
      !this.$v.confirmPassword.sameAsPassword && errors.push(registerMsg.cpassNotSame)
      return errors
    },
    termsOfServiceError () {
      const errors = []
      if (!this.$v.termsOfService.$dirty) return errors
      !this.$v.termsOfService.required && errors.push(registerMsg.termsReq)
      return errors
    }
  },
  methods: {
    register: function (data) {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        // if (!this.$_recaptchaMixin_isRecaptchaVerified) {
        //   this.$_dialogMixin_open(commonMsg.error, this.$_recaptchaMixin_getErrMessage)
        //   return
        // }
        // this.$refs.recaptcha.reset()
        this.clearFields()

        var password = CryptoJS.enc.Base64.stringify(
          CryptoJS.enc.Utf8.parse(data.password)
        )

        this.$store.dispatch('auth/registration', {
          'firstName': data.firstName,
          'lastName': data.lastName,
          'email': data.email,
          'password': password
        }).then((data) => {
          if (data.success) {
            this.clearFields()
            this.$_alertMixin_open(registerMsg.successRegistered)
          } else {
            this.clearFields()
            this.$_alertMixin_open(data.errors[0], 'error')
          }
        })
      }
    },
    clearFields () {
      this.$refs.registrationForm.reset()
      this.$v.$reset()
    }
  }
}
</script>

<style lang="scss" scoped>
.action-margin {
  margin-left: 10px;
  margin-right: 10px;
}
</style>
