<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md3>
            <base-alert :isActive="$_alertMixin_getIsActive" :type="$_alertMixin_getType" :message="$_alertMixin_getMessage"></base-alert>
            <br>
            <v-card class="elevation-12">
              <form @submit.prevent="login({email, password})">
                <v-toolbar dark color="primary">
                  <v-toolbar-title>Login</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <v-text-field
                    v-model="email"
                    :error-messages="emailError"
                    label="Email"
                    @input="$v.email.$touch()"
                    @blur="$v.email.$touch()"
                  ></v-text-field>

                  <v-text-field
                    v-model="password"
                    :error-messages="passwordError"
                    label="Password"
                    type="password"
                    @input="$v.password.$touch()"
                    @blur="$v.password.$touch()"
                  ></v-text-field>

                </v-card-text>
                <v-card-actions class="action-margin">
                  <router-link to="register">No account yet?</router-link>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" type="submit">Login</v-btn>
                </v-card-actions>
              </form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import { required, email } from 'vuelidate/lib/validators'
import loginMsg from '@/common/messages/auth/login.message'

import alertMixin from '@/common/utils/mixins/alertMixin'

export default {
  name: 'Login',
  mixins: [
    alertMixin
  ],
  data () {
    return {
      email: null,
      password: null
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  computed: {
    emailError () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.required && errors.push(loginMsg.emailReq)
      !this.$v.email.email && errors.push(loginMsg.emailFormat)
      return errors
    },
    passwordError () {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.required && errors.push(loginMsg.passReq)
      return errors
    },
    ...mapState({
      errors: state => state.auth.errors
    })
  },
  methods: {
    login (data) {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.$store.dispatch('auth/login', data)
          .then((data) => {
            if (data.success) {
              this.$router.push('/')
            } else {
              this.clearFields()
              this.$_alertMixin_open(this.errors[0], 'error')
            }
          })
      }
    },
    clearFields () {
      this.$v.$reset()
      this.email = null
      this.password = null
    }
  }
}
</script>

<style lang="scss" scoped>
.action-margin {
  margin-left: 10px;
  margin-right: 10px;
}
</style>
