<template>
  <v-layout row justify-center>
    <v-dialog v-model="value" persistent content content-class="centered-dialog">
      <v-container fill-height>
        <v-layout column justify-center align-center>
          <hollow-dots-spinner
            :animation-duration="1000"
            :dot-size="15"
            :dots-num="3"
            color="#d32f2f"
          />
        </v-layout>
      </v-container>
    </v-dialog>
  </v-layout>
</template>

<script>
import { HollowDotsSpinner } from 'epic-spinners'

export default {
  name: 'BaseSpinner',
  data: function () {
    return {}
  },
  components: {
    HollowDotsSpinner
  },
  props: {
    value: {
      type: Boolean,
      required: true,
      default: false
    }
  }
}
</script>

<style>
  .dialog.centered-dialog,
  .v-dialog.centered-dialog
 {
    background: #282c2dad;
    box-shadow: none;
    border-radius: 6px;
    width: auto;
    color: whitesmoke;
  }
</style>
