<template>
  <div>
    <v-alert
      v-model="isActive"
      :type="type"
    >
      {{ message }}
    </v-alert>
  </div>
</template>

<script>
export default {
  name: 'BaseAlert',
  props: {
    isActive: {
      type: Boolean,
      required: true,
      default: false
    },
    type: {
      type: String,
      required: true,
      default: 'success'
    },
    message: {
      type: String,
      required: true,
      default: ''
    }
  }
}
</script>
