<template>
  <div>
    <v-app id="inspire">
      <the-header/>
      <v-content>
          <v-container fluid grid-list-md>
            <transition name="fade">
              <router-view></router-view>
            </transition>
          </v-container>
      </v-content>
  </v-app>
  </div>
</template>

<script>
import TheHeader from '@/common/layout/TheHeader'

export default {
  name: 'MainLayout',
  components: {
    TheHeader
  }
}
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>
