<template>
    <div>
        <v-navigation-drawer
        v-model="drawer"
        clipped
        fixed
        app
        >
            <the-menu/>
        </v-navigation-drawer>
        <v-toolbar
        :clipped-left="$vuetify.breakpoint.lgAndUp"
        color="primary"
        dark
        app
        fixed>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>Franchising</v-toolbar-title>

            <v-spacer></v-spacer>
              <v-avatar>
                <img
                  src="https://png.icons8.com/color/1600/circled-user-male-skin-type-5.png"
                  alt="John"
                >
              </v-avatar>
        </v-toolbar>
    </div>
</template>

<script>
import TheMenu from './TheMenu'

export default {
  name: 'TheHeader',
  components: {
    TheMenu
  },
  data () {
    return {
      drawer: true
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
