<template>
    <v-list dense>
        <v-card>
        <br>
        <v-img src="https://png.icons8.com/color/1600/circled-user-male-skin-type-5.png" class="prof-image-margin"></v-img>
        <div class="center">
            <h4 class="headline font-weight-medium">{{user.fname}} {{user.lname}}</h4>
            <div>Franchising Manager</div>
            <br>
        <v-btn color="secondary" text-color="white" @click="logout">Logout</v-btn>
        </div>
        <br>
        </v-card>
        <br>

        <router-link tag="v-list-tile" to="/maintenance/users" exact>
            <v-list-tile-action>
                <v-icon>account_box</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>User Management</v-list-tile-title>
            </v-list-tile-content>
        </router-link>

        <router-link tag="v-list-tile" to="/maintenance/trainings">
            <v-list-tile-action>
                <v-icon>school</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>Trainings</v-list-tile-title>
            </v-list-tile-content>
        </router-link>

        <v-divider dark class="my-3"></v-divider>

        <router-link tag="v-list-tile" to="/account">
            <v-list-tile-action>
                <v-icon>settings_applications</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>Account Information</v-list-tile-title>
            </v-list-tile-content>
        </router-link>
    </v-list>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'TheMenu',
  computed: mapState({
    user: state => state.auth.user
  }),
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
      this.$router.push({ path: '/login' })
    }
  }
}
</script>

<style lang="scss" scoped>
.router-link-active {
    color: #d32f2f;
    font-weight: bold;
}

.prof-image-margin {
    margin-left:70px;
    margin-right:70px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 5px;
}
</style>
