<template>
   <div id="app">
     <base-spinner :value="spinner"></base-spinner>
     <router-view/>
   </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'app',
  computed: mapState({
    spinner: state => state.common.spinner
  })
}
</script>

<style>
</style>
